.header {
  justify-content: center;
  background-color: cadetblue;
}

mainSection {
  display: flex-grid;
}

.cardStyle {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 20rem;
  max-width: 20rem;
}
